<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Multiaviator</title>
		<link rel="stylesheet" type="text/css" href="public/styles.css" />
	</head>

	<body class="game-holder">
		<div class="world" id="world"></div>

		<script type="text/javascript" src="//rawgit.com/mrdoob/stats.js/master/build/stats.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r78/three.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>

		<script type="text/javascript" src="public/game/network.js"></script>
		<script type="text/javascript" src="public/game/player.js"></script>
		<script type="text/javascript" src="public/game/variables.js"></script>
		<script type="text/javascript" src="public/game/entities.js"></script>
		<script type="text/javascript" src="public/game.js"></script>
		<script type="text/javascript" src="public/client.js"></script>
	</body>

</html>