<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<base href="/">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Multiaviator</title>
		<link rel="stylesheet" type="text/css" href="public/styles.css" />
	</head>

	<body>
		<div class="world" id="world"></div>
		<div id="login" class="message-box">
			<h3 style="margin: 0;">Multiaviator test</h3>
			<p>Enter your name to join:</p>
			<input type="text" name="player-name" placeholder="Enter a name..." maxlength="12">
			<button id="submitname">Ok!</button>
		</div>

		<div id="disconnected" style="display: none;" class="message-box">
			<p>Disconnected. Trying to reconnect...</p>
			<p><small>Or you can try to refresh the page...</small></p>
		</div>

		<script type="text/javascript" src="//rawgit.com/mrdoob/stats.js/master/build/stats.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r78/three.min.js"></script>
		<script type="text/javascript" src="//rawgit.com/gamestdio/three-text2d/master/dist/three-text2d.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>

		<script type="text/javascript" src="public/game/network.js"></script>
		<script type="text/javascript" src="public/game/player.js"></script>
		<script type="text/javascript" src="public/game/variables.js"></script>
		<script type="text/javascript" src="public/game/entities.js"></script>
		<script type="text/javascript" src="public/game.js"></script>
	</body>

</html>